*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

body{
    background-color: #E5ECF9;
}

.container{
    display: flex;
    height: 700px;
    width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 150px;
}

.info{
    background-image: url(ahhh.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 150px 50px;
    width: 50%;
}

.text-1{
   color: #E5ECF9;
   text-transform: capitalize;
   font-size: 20px;
   margin-bottom: 25px;
}

.info h2{
    color: #E5ECF9;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 25px;
}

.info hr{
    width: 55px;
    border: 3px solid #fff;
    margin-left: 170px;
    margin-bottom: 25px;
}

.text-2{
    color: #E5ECF9;
    font-size: 18px;
}

.form{
    padding: 50px 100px;
    width: 50%;
    text-align: center;
    background-color: #fff;
}

.form h2 {
    color: #097EF6;
    font-size: 30px;
    margin-bottom: 25px;
}

.form p {
    font-size: 16px;
    color: #aa9a9a;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box{
    outline: none;
    border-color: #097EF6;
    border-width:  0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.inputs a {
    color: #097EF6;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

.submit {
    background-color: #097EF6;
    padding: 15px;
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
}

@media(max-width:990px) {
    .container{
        width: 350px;
        height: 600px;
        margin-top: 100px;
    }
    .info{
        display: none;
    }

    .form{
        width: 100%;
        padding: 30px;
    }
}

